{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Nous venons d'envoyer un lien à l'email que tu as saisi sur lequel tu pourras remettre à jour ton mot de passe.
        Le lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si tu l'as pas reçu , clique sur ce lien <a href="{{ path('app_forgot_password_request') }}">clique ici</a>.</p>
{% endblock %}
