{# templates/reset_password/check_email.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Vérifiez votre e-mail{% endblock %}

{% block body %}
    {% for flash_success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}

    <h1>Vérifiez votre e-mail</h1>
    <p>Si un compte correspondant à l'adresse e-mail que vous avez saisie existe, vous recevrez un e-mail avec un lien pour réinitialiser votre mot de passe.</p>
    <p>Veuillez vérifier votre boîte de réception et votre dossier de spam.</p>
{% endblock %}
