{# templates/reset_password/email.html.twig #}

<h1>Bonjour</h1>

<p>Pour modifier ton mot de Passe, clique sur ce lien.</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>


<p>Merci !</p>



