{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <!-- page permet de remettre à jour le MDP dans reset-password-->
    <h1>Modifier ton Mot de Passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Enregistrer votre adresse mail et nous allons vous envoyez un lien afin de modifier votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Valider</button>
    {{ form_end(requestForm) }}
{% endblock %}
