{% extends 'base.html.twig' %}
{% block title %}Formulaire d'Inscription{% endblock %}
{% block body %}
<h1 style="text-align: center;"> S'Inscrire </h1>


<!-- 1er form     represente le fonction FORM -->
<!-- 2eme form    represente la fonction appellé -->
{{ form(formAddUtilisateur) }}


{% endblock %}
