{# templates/categorie/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}
{% block body %}
    <h1>Liste des Catégories</h1>
    <ul>
        {% for categorie in categories %}
            <li>{{ categorie.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}